.main-card {
  margin: 5% auto 0;
  height: 400px;
  width: 300px;
  border: black solid;
  border-radius: 3%;
  overflow: hidden;
}
h4 {
  margin: 2%;
  position: relative;
  top: 60%;
  bottom: 5%;
  font-size: 1.2rem;
}
p {
  opacity: 50%;
  margin: 2%;
  position: relative;
  top: 60%;
  bottom: 5%;
}
.personImage {
  width: 50%;
  position: relative;
  top: 50%;
}
.partition {
  height: 40%;
  text-align: center;
}
.upper {
  background-color: aqua;
}
.footer {
  height: 20%;
}
